<div ng-controller="detailCatCtrl">
	<md-card layout="column" flex>
		<div layout="row">
			<md-card-content>
				<md-card-title-media>
					<div class="md-media-lg card-media">
						<img-upload-preview picture-model="cat.foto" required="true"
						                    style="width: 300px"></img-upload-preview>
					</div>
				</md-card-title-media>
			</md-card-content>
			<md-card-title layout="column">
				<cat-info cat="cat"></cat-info>
			</md-card-title>
		</div>
		<md-card-actions layout="row" layout-align="end center">
			<md-button ng-click="cancelCat()">Annuleer</md-button>
			<md-button ng-click="removeCat()">Verwijder</md-button>
			<md-button ng-disabled="true">Pas aan</md-button>
		</md-card-actions>
	</md-card>
</div>

