<md-dialog aria-label="{{title}}" ng-controller="registerCatCtrl" flex-gt-sm="66">
	<my-dialog-header title="{{title}}"></my-dialog-header>
	<md-dialog-content>
		<form name="catForm" enctype="multipart/form-data" layout-padding layout-gt-sm="row" flex>
			<img-upload-preview picture-model="foto" required="true" style="width: 300px"
			                    show-input="true"></img-upload-preview>
			<cat-info cat="cat" flex></cat-info>
		</form>
	</md-dialog-content>
	<my-dialog-footer class="md-actions" show-error="showError" error="{{error}}">
		<md-button ng-click="saveCat()" ng-disabled="!catForm.$valid || (progress > 0 && progress < 100)">
			Registreer kat
		</md-button>
	</my-dialog-footer>
</md-dialog>
