<md-dialog aria-label="{{title}}" ng-controller="registerOwnerCtrl" flex-gt-sm="66">
	<my-dialog-header title="{{title}}"></my-dialog-header>
	<md-dialog-content layout-padding>
		<form name="ownerForm" layout="row" layout-padding>
			<img-upload-preview picture-model="foto" required="false" style="width: 300px"
			                    show-input="true"></img-upload-preview>
			<owner-info owner="owner" flex></owner-info>
		</form>
	</md-dialog-content>
	<my-dialog-footer class="md-actions" show-error="showError" error="{{error}}">
		<md-button ng-click="saveOwner()" ng-disabled="!ownerForm.$valid || (progress > 0 && progress < 100)">
			Registreer eigenaar
		</md-button>
	</my-dialog-footer>
</md-dialog>