<div ng-controller="registerOwnerCtrl" layout="column" ng-cloak class="md-inline-form">
	<md-content layout-padding>
		<form name="ownerForm">
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Voornaam</label>
					<input ng-model="owner.voornaam">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Familienaam</label>
					<input ng-model="owner.familienaam">
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Adres</label>
					<input ng-model="owner.adres.straat">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm="nogrow">
					<label>Nummer</label>
					<input ng-model="owner.address.nummer">
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm="nogrow">
					<label>Postcode</label>
					<input name="postalCode" ng-model="owner.address.postcode">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Gemeente</label>
					<input ng-model="owner.address.gemeente">
				</md-input-container>
			</div>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Email</label>
				<input ng-model="owner.email">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Telefoonnummer</label>
				<input ng-model="owner.telefoonnummer">
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Noodnummer</label>
				<input ng-model="owner.noodnummer">
			</md-input-container>
		</form>
		<md-button ng-click="cancelOwner()">Annuleer</md-button>
		<md-button ng-click="saveOwner()">Registreer eigenaar</md-button>
	</md-content>
</div>

