@import 'node_modules/angular-material/angular-material.scss';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$fadeInTransition : all linear .3s;

.ng-hide-remove {
  transition: #{$fadeInTransition};
}

img.ng-hide {
  opacity: 0;
}

.error.ng-hide {
  opacity: 0;
}

.error {
  opacity: 1;
  color: red;
  font-size: small;
  transition: #{$fadeInTransition};
}