<div ng-controller="navigationCtrl">
	<md-toolbar layout="row" class="md-toolbar-tools">
		<md-tabs md-stretch-tabs flex md-autoselect="false" md-selected="selectedIndex">
			<my-tab ng-repeat="tab in tabs track by $index" tab="tab" selected-index="selectedIndex"
			        tab-index="$index"></my-tab>
		</md-tabs>
		<md-menu>
			<md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
				<md-icon md-font-library="material-icons">more_vert</md-icon>
			</md-button>
			<md-menu-content>
				<my-menu-button ng-click="registerNew()" icon="add" label="Nieuw"></my-menu-button>
			</md-menu-content>
		</md-menu>
	</md-toolbar>
</div>