<div layout-gt-sm="column" flex>
	<div layout-gt-sm="row">
		<text-with-label label="Naam" model="cat.naam" required="true" type="text" flex></text-with-label>
		<date-selector date="cat.geboortedatum" min-year="today.getFullYear() - 30"
		               max-year="today.getFullYear()" required="true">
		</date-selector>
	</div>
	<div layout="column">
		<md-radio-group ng-model="cat.geslacht" layout="row" required style="margin-bottom: 25px">
			<md-radio-button value="man">Man</md-radio-button>
			<md-radio-button value="vrouw">Vrouw</md-radio-button>
		</md-radio-group>
		<md-checkbox ng-model="cat.gecastreerd" aria-label="Gecastreerd?">
			Gecastreerd?
		</md-checkbox>
	</div>
	<text-area-with-label label="Voeding" model="cat.voeding" required="false" flex></text-area-with-label>
	<text-with-label label="Gedrag" model="cat.gedrag" type="text" required="false"></text-with-label>
	<div layout-gt-sm="row">
		<text-area-with-label label="Medicatie" model="cat.medicatie" required="false"
		                      flex></text-area-with-label>
		<text-with-label type="text" label="Dierenarts" model="cat.dierenarts" required="false"
		                 flex></text-with-label>
	</div>
	<div layout-gt-sm="row">
		<md-autocomplete flex
		                 id="ownerSearch"
		                 md-floating-label="Eigenaar"
		                 md-selected-item="eigenaar"
		                 md-selected-item-change="selectedItemChanged(owner._id)"
		                 md-search-text="searchText"
		                 md-items="owner in findMatches(searchText)"
		                 md-item-text="owner.display"
		                 md-min-length="0">
			<md-item-template>
				<span md-highlight-text="searchText" md-highlight-flags="i">{{owner.display}}</span>
			</md-item-template>
			<md-not-found>
				Geen eigenaars gevonden in overeenstemming met "{{searchText}}".
			</md-not-found>
		</md-autocomplete>
		<md-button class="md-icon-button" ng-click="clearSelectedItem()" style="margin-top: 20px">
			<md-icon md-font-library="material-icons">close</md-icon>
		</md-button>
	</div>
</div>