<div layout-gt-sm="column" flex>
	<div layout-gt-sm="row">
		<text-with-label label="Naam" model="cat.naam" required="true" flex></text-with-label>
		<date-selector date="cat.geboortedatum" min-year="today.getFullYear() - 30"
		               max-year="today.getFullYear()" required="true">
		</date-selector>
	</div>
	<div layout="column">
		<md-radio-group ng-model="cat.geslacht" layout="row" required style="margin-bottom: 25px">
			<md-radio-button value="man">Man</md-radio-button>
			<md-radio-button value="vrouw">Vrouw</md-radio-button>
		</md-radio-group>
		<md-checkbox ng-model="cat.gecastreerd" aria-label="Gecastreerd?">
			Gecastreerd?
		</md-checkbox>
	</div>
	<text-area-with-label label="Voeding" model="cat.voeding" required="false" flex></text-area-with-label>
	<text-with-label label="Gedrag" model="cat.gedrag" required="false"></text-with-label>
	<div layout-gt-sm="row">
		<text-area-with-label label="Medicatie" model="cat.medicatie" required="false"
		                      flex></text-area-with-label>
		<text-with-label label="Dierenarts" model="cat.dierenarts" required="false" flex></text-with-label>
	</div>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Eigenaar</label>
		<md-select ng-model="cat.eigenaar">
			<md-option ng-repeat="owner in owners" value="{{owner._id}}">
				{{owner.naam}} {{owner.familienaam}}, {{owner.telefoonnummer}}
			</md-option>
		</md-select>
	</md-input-container>
</div>